{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Merka indumentaria wowoowow</title>

    <link rel="stylesheet" type="text/css" href="{% static 'store/css/bootstrap.min.css' %}" crossorigin="anonymous">  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'store/css/main.css' %}">
    {% csrf_token %}
    <script type="text/javascript" >

    var user='{{request.user}}'
    function getToken(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                 // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
        }
    const csrftoken = getToken('csrftoken');

    function getCookie(name) {
        var cookieArr = document.cookie.split(";");

        for(var i = 0; i < cookieArr.length; i++) {
            var cookiePair = cookieArr[i].split("=");

            /* sacas espacio del principio y comparas */
            if(name == cookiePair[0].trim()) {
                return decodeURIComponent(cookiePair[1]);
            }
        }

        return null;
    }
    var cart = JSON.parse(getCookie('cart'))
    if(cart== undefined){
        cart = {}
        console.log('se creo el carrito :)')
        document.cookie= 'cart=' + JSON.stringify(cart) + ";domain=;path=/"
    }

    console.log('Carro:', cart)

    </script>
</head>
<body>
	
	<!-- q onda-->
	<header>
      <nav class="navbar navbar-expand-sm navbar-dark bg-dark " id="navbar">
        <div class="container-fluid">
            <a class="navbar-brand " href="{% url 'store' %}">
                <img src="{% static 'store/img/logo.jpg' %}" class="rounded-circle" alt="" width="75">
                coral azul unisex
            </a>
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Ingresá</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'store' %}">Inicio</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Productos</a></li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'cart' %}">
                            <img src="{% static 'store/img/cart.svg' %}" alt="" width="20">
                            <p class="float-right" id="cart-total">{{articulosCarrito}}</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    </header>
    <br>
    <div class="container">
    	{% block body %}
    	{% endblock %}
    </div>
	<!-- Footer -->
	<div id="footer", class="p-5">
		<div class="container w-50 pt-5">
			<div class="row justify-content-md-center pb-3">
				<div class="col text-center font-weight-light">
					<p>todos los derechos reservados merka indumentaria 2020
					<p>pagina web creada por @fabriziotorrico para mas proyectos visite el link</p>
				</div>
			</div>	
			<div class="row justify-content-md-center">
				<div class="col text-center">
					<a href="#">
						<button class="btn btn-lg rounded-pill btn-warning w-10 p-3 shadow-sm font-weight-bold">
							clickeame
						</button>						
					</a>
				</div>
			</div>				
		</div>
	</div>

<!--script src="{% static 'store/js/popper.min.js' %}" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="{% static 'store/js/bootstrap.min.js' %}" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script-->
<script type="text/javascript" src="{% static 'store/js/cart.js' %}"></script>
</body>
</html>