{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Merka indumentaria wowoowow</title>

    <link rel="stylesheet" href="{% static 'inicio/css/bootstrap.min.css' %}" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'inicio/css/main.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
	
	<!-- q onda-->
	<header>
      <nav class="navbar navbar-expand-sm navbar-dark bg-dark " id="navbar">
        <div class="container-fluid">
            <a class="navbar-brand " href="#">
                <img src="{% static 'inicio/img/logo.jpg' %}" class="rounded-circle" alt="" width="75">
                merka indumentaria
            </a>
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Inicio</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Productos</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Carrito</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Ingresá</a></li>
                </ul>
            </div>
        </div>
    </nav>
    </header>
	{% block body %}
	{% endblock %}
	<!-- Footer -->
	<div id="footer", class="p-5">
		<div class="container w-50 pt-5">
			<div class="row justify-content-md-center pb-3">
				<div class="col text-center font-weight-light">
					<p>todos los derechos reservados merka indumentaria 2020, para más proyectos visite el link de arriba</p>
					<p>pagina web creada por @fabriziotorrico para mas proyectos visite el link</p>
				</div>
			</div>	
			<div class="row justify-content-md-center">
				<div class="col text-center">
					<a href="#">
						<button class="btn btn-lg rounded-pill btn-warning w-10 p-3 shadow-sm font-weight-bold">
							clickeame
						</button>						
					</a>
				</div>
			</div>				
		</div>

		
	</div>
</body>
<script src="{% static 'inicio/js/popper.min.js' %}" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="{% static 'inicio/js/bootstrap.min.js' %}" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script-->
</body>
</html>